$panel-black: #1e1f26;


.profile {
    width: calc(100% - 30px);
    padding: 15px;
    h2, h3 {
        color: white;
    }
}
table.form  {
    color: white;
    margin-bottom: 15px;
    border-collapse: collapse;
    &.apply-form {
        width: 100%;
        td:first-child {
            width: 30%;
            max-width: 30%;
        }
    }
    td {
        border: 2px solid $panel-black;
        background: lighten($panel-black, 5%);
        margin: 1px;
        padding: 5px 10px;
        select {
            width: 100%;
            padding: 5px;
        }
        input {
            padding: 5px;
            width: calc(100% - 15px);
        }
        textarea {
            width: calc(100% - 5px);
        }
        &:first-child {
        padding: 5px 10px;
            text-align: right;
            background: lighten($panel-black, 10%);
        }
    }
    tr:last-child {
        td {
            padding: 10px;
        }
    }
}