.proto-btn {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: #1b1c23;
    color: #dcdcdc;
    margin: 5px 0;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        background: lighten(#1b1c23, 5%);
    }
}