@import '../constants';

.proto-panel {
    margin: 15px auto;
    border-top: $proto-border-standard;
    max-width: 960px;
    background-color: $proto-transparent-blue;

    &.panel-sm {
        max-width: 400px;
    }

    &.panel-md {
        max-width: 650px;
    }

    .panel-header {
        padding: 20px 40px;
        background-color: $proto-transparent-blue;
        border-bottom: $proto-border-standard;
        color: $proto-white;
        font-size: 26px;
        font-weight: normal;
    }
    .panel-content {
        margin: 0 30px;
        padding: 35px 20px;
        color: $proto-white;
        h2, h3, h4 {
            font-weight: normal;
        }
    }

    &.no-padding {
        border-top: none;
        .panel-content {
            padding: 0;
            margin: 0;
        }
    }
    
    .link-button {
        color: $proto-light-grey;
        text-decoration: none;
        margin: 15px auto 0;
        font-weight: normal;
        &:hover {
            color: $proto-off-white;
        }
    }
    .application-buttons {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        button.proto-btn {
            flex-basis: 30%;
        }
    }
}
