@import '../constants';

table.proto-table {
    border-collapse: collapse;
    width: 100%;

    tr {
        cursor: pointer;
        &:not(:last-child) {
            border-bottom: $proto-border-standard;
        }
        td {
            padding: 15px;
            color: $proto-off-white;
            text-decoration: none;
            margin: 15px auto 0;
            font-weight: normal;
            text-align: center;
        }
        &:hover {
            td {
                color: $proto-white;
            }
        }
    }
    &.applicant-table {
        td:first-child {
            max-width: 100px;
            width: 100px;
            text-align: right;
            padding-right: 10px;
            border-right: $proto-border-standard;
        }
        tr {
            cursor: default;
            color: $proto-off-white;
            &:hover {
                td {
                    color: $proto-off-white;
                }
            }
        }
    }
}
