@import '../constants';

table.proto-table {
    border-collapse: collapse;
    width: 100%;

    tr {
        cursor: pointer;
        &:not(:last-child) {
            border-bottom: $proto-border-standard;
        }
        td {
            padding: 15px;
            color: $proto-off-white;
            text-decoration: none;
            margin: 15px auto 0;
            font-weight: normal;
            text-align: center;
        }
        &:last-child {
            td {
                padding-bottom: 25px;
            }
        }
    }
    &:not(.no-hover) {
        tr:hover {
            td {
                color: $proto-white;
            }
        }
    }
    &.no-hover {
        tr, td {
            cursor: default;
        }
    }
    &.class-colors {
        tr, li {
            &.warrior {
                background: $warrior;
                &:hover {
                    background: darken($warrior, 5%);
                }
            }
            &.paladin {
                background: $paladin;
                &:hover {
                    background: darken($paladin, 5%);
                }
            }
            &.hunter {
                background: $hunter;
                &:hover {
                    background: darken($hunter, 5%);
                }
            }
            &.shaman {
                background: $shaman;
                &:hover {
                    background: darken($shaman, 5%);
                }
            }
            &.druid {
                background: $druid;
                &:hover {
                    background: darken($druid, 5%);
                }
            }
            &.rogue {
                background: $rogue;
                &:hover {
                    background: darken($rogue, 5%);
                }
            }
            &.priest {
                background: $priest;
                &:hover {
                    background: darken($priest, 5%);
                }
                td {
                    color: black;
                }
            }
            &.mage {
                background: $mage;
                &:hover {
                    background: darken($mage, 5%);
                }
            }
            &.warlock {
                background: $warlock;
                &:hover {
                    background: darken($warlock, 5%);
                }
            }
        }
    }
    &.applicant-table {
        td:first-child {
            max-width: 100px;
            width: 100px;
            text-align: right;
            padding-right: 10px;
            border-right: $proto-border-standard;
        }
        tr {
            cursor: default;
            color: $proto-off-white;
            &:hover {
                td {
                    color: $proto-off-white;
                }
            }
        }
    }
    &.signup-table {
        thead {
            tr td {
                padding: 10px 0;
            }
        }
        td {
            padding: 0;
            width: 25%;
            
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                padding: 5px;
                cursor: pointer;
            }
        }
    }
}
