$panel-black: #1e1f26;

.recruitment {
    @media (max-width: 700px) {
        display: none;
    }
    // background: blue;
    flex: 1;
    // height: 30px;
    .title {
        color: white;
        text-align: center;
        padding: 5px;
        font-size: 18px;
    }
    .player-class {
        display: flex;
        margin: 5px 15px 5px 0px;
        background: lighten($panel-black, 10%);
        span {
            padding: 3px 6px;
            color: white;
            line-height: 24px;
            &.status {
                flex: 1;
                align-self: end;
                text-align: right;
                &::before {
                    color: #45de45;
                    content: "Open";
                }
                &.closed {
                    &::before {
                        color: #ff3c3c;
                        content: "Closed";
                    }
                }
            }
        }
        img {
            padding: 3px 5px;
        }
    }
}
